<section class="content">
  <br>
  <br>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-sm-12">
        <div class="card">
          <div class="col-sm-12">
            <div class="header">
              <div class="col-sm-4">
                <h1 class="mt-3"><Strong>Prueba Tecnica</Strong></h1>
              </div>
              <div class="col-sm-3">
                <button mat-raised-button color="primary" (click)="logOut()">
                  <mat-icon>logout</mat-icon>LogOut
                </button>
              </div>
             
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3 offset-4">
                <h3><strong>Consulta numeros Romanos</strong></h3>
                <p>Por favor ingresa el numero que deseas consultar</p>
              </div>
              <div class="col-sm-3 offset-4">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Numero a consultar</mat-label>
                  <input matInput type="number" (keyup.enter)="getRomanNumber()" [(ngModel)]="numeroGregoriano">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="getRomanNumber()">
                  <mat-icon>add</mat-icon>Consultar
                </button>
              </div>

              <div class="col-sm-3 offset-6">
                <h4><strong>numero encontrado es: </strong> {{nummeroRomanoResponse}}</h4>

              </div>
            </div>
            <br>
            <!-- <mat-progress-bar mode="indeterminate" >
              </mat-progress-bar> -->
          </div>
        </div>
        <br>
        <div class="card">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4 offset-1">
                <br>
                <button mat-raised-button color="primary" (click)="listNits()">
                  <mat-icon>add</mat-icon>Consultar
                </button>
              </div>
            </div>
          </div>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <mat-table mat-table class="mat-table-hover" [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="age">
                    <mat-header-cell *matHeaderCellDef>Edad</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="birthdate">
                    <mat-header-cell *matHeaderCellDef>Cumpleaños</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.birthdate}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="gender">
                    <mat-header-cell *matHeaderCellDef>Genero</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="middleName">
                    <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.middleName}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nit">
                    <mat-header-cell *matHeaderCellDef>Nit</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nit}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.res}} </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
